header{
    background-color: #f10c0c;
}

h1{
    text-align-last: center;
    color: #0a0909 ;
}

h2{
    color: #0000ff;
}

section{
    background-color: #00ffff;
}

link{
    background-color: #fff8dc;
    color: #7fff00;
}